* { /* aplica a todos os elementos */
  margin: 0px;
  padding: 0px;
  font-family: 'IBM Plex Mono', monospace;
}

img {
  display: block;
  max-width: 100%; /* acompanha o container */
}

ul {
  list-style: none;
}

body {
  background: #faf6ed;
  color: #222;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr; /* 1fr - uma fração, representa uma coluna | 120px outra coluna | minmax() outra coluna ... */
  -webkit-font-smoothing: antialiased; /* webkit - específico para o chrome */ /* por padrão o browser meio que torna a tipografia suave, usamos esse trecho que remove isso*/
}

/*  
O que é 1fr grid?
grid-template-columns

No código acima, quando escrevemos 1fr 1fr 1fr estamos dizendo que queremos 3 colunas que ocupem 1 fração do espaço disponível, ou seja, cada coluna vai ter 1/3 do espaço disponível lateralmente.
*/
  
.menu {
  grid-column: 3/5; /* vai da linha 3 à linha 5 */;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #fb5;
}
  
.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none; /* tira o sublinhado */
  font-weight: bold;
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: .1em; /* espaçamento entre cada letra */
}

.grid-section {
  grid-column: 2/4; /* vai do 2 até o 4 */
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr; /* 100px [espaço em branco do canto], 300px [onde ficam os animais] 1fr [coluna do texto] */
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: 'Playfair Display SC', georgia;
  font-size: 6rem; /* 6*16 */
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais h2 {
  font-family: 'IBM Plex Mono', monospace ;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #e54;
}

.animais h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.animais p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animais-lista::-webkit-scrollbar { /* -webkit-scrollbar deve estar junto dos dois pontos */
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb { /* thumb é o scroll */
  background: #fb5;
  border-left: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track { /* parte de trás/fundo do scroll */
  background: #faf6ed;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2/4;
}

.faq-lista dt {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #e54;
}

.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.faq-lista dd {
  font-family: Helvetica, Arial;
  margin-bottom: .5rem;
  margin-left: 30px;
}

.mapa {
  grid-column: 2; /* vai pra 2 coluna */
}

.dados {
  grid-column: 3;
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.dados li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.copy {
  grid-column: 3/5;
  margin-bottom: 2rem;
  background: #fb5;
}

.copy p {
  padding: 20px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  .menu, .grid-section, .copy {
    grid-column: 1;
  }
  .grid-section {
    grid-template-columns: 100px 1fr; 
    grid-gap: 10px;
  }
  .animais-lista {
    grid-column: 1;
  }
  .faq-lista, .dados, .mapa {
    grid-column: 1 / 3;
  }
  .grid-section h1 {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0px;
  }
  .menu {
    margin-bottom: 0px;
  }
}

.animais-lista li {
  cursor: pointer;
}

.js-tabcontent section { /* esconde de leitores de tela também ai teríamos que ver outra forma*/
  display: none;
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show .5s forwards; /* o forwards deixará o texto na sua posição final [to] do keyframe show */
}

@keyframes show { /* animação com CSS */
  from {
    opacity: 0;
    transform: matrix3d();
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}